.logo{
    height: 75px;
    display: inline-block;
}
h1{
    display: inline-block;
    position: absolute;
    top: 15px;
}
.space{
    border: 2px;
    top: 17.5px;
}

.button{
    position: absolute;
    width: 175px;
    height: 40px;
    top: 15px;
    right: 75px;
    border-radius: 25px;
    border: black 4px solid;
    font-weight: bold;
}