.thumb{
    z-index: 100;
    position: absolute;
    left: 100px;
    top: 230px;
}
.nome{
    left: 325px;
    top: 15px;
}
.nomep{
    font-size: 1.2em;
}
.nomeb{
    display: inline-block;
}
.about{
    height: 225px;
}
.ab{
    font-size: 2em;
}
.cert{
    display: inline-block;
}
.pc{
    font-size: 0.7em;
}
.feedback{
    height: 50px;
}
.feedback span{
    font-size: 2em;
}
.feedback img{
    display: inline-block;
    height: 100px;
    width: 200px;
}
.certi{
    height: 300px;
}
.nome .la{
    display: none;
}
.nome:hover .la{
    display: inline-block;
}
.ab i{
    display: none;
}
.ab:hover i{
    display: inline-block;
}
.cancel{
    border: black solid 2px;
}